*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    font-size: 1.6rem;
}

.container{
    max-width: 1320px;
    margin: 0 auto; 
}
//MENU
@import './menu.scss';
//WELCOME BIG PICTURE
@import './welcome.scss';
//ABOUT
@import './about.scss';
//GALLERY
@import './gallery.scss';
//FORM
@import './form.scss';
//FOOTER
@import './footer.scss';
