*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    // font-family: 
}

body{
    font-size: 1.6rem;
}

.container{
    // max-width:
    // margin: 0 auto; 
}
//MENU
@import './menu.scss';
//WELCOME BIG PICTURE
@import './welcome.scss';
//BACKGROUND DIV
@import './background.scss';
//OUR-TEAM
@import './ourteam.scss'
//GALLERY
@import './gallery.scss';
//FORM
@import './form.scss';
//FOOTER
@import './footer.scss';

