section.welcome_about_us
  .container
    .welcome_container
      .welcome_container_content
        h1 BACKGROUND
        p
          | Quisque tempor bibendum dolor at volutpat. Suspendisse venenatis quam sed libero euismod feugiat. In cursus nisi vitae lectus facilisis mollis. Nullam scelerisque, quam nec iaculis vulputate.
      img(src='./images/about-img.jpg' alt='')

section.ourteam
  .container
    .ourteam_text
      h1 SNAPSHOT TEAM
      p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum repudiandae, sint commodi non rem
    .ourteam_cards_container
      .ourteam_cards_container-col4
        .ourteam_card
          img(src='./images/team-img1.jpg' alt='')
          h2 MARY, CEO
      .ourteam_cards_container-col4
        .ourteam_card
          img(src='./images/team-img2.jpg' alt='')
          h2 JACK, FOUNDER
      .ourteam_cards_container-col4
        .ourteam_card
          img(src='./images/team-img3.jpg' alt='')
          h2 LINDA, MANAGER
