#footer
  .container
    ul.socials
      li
        a.fab.fa-facebook-f(href='#')
      li
        a.fab.fa-twitter(href='#')
      li
        a.fab.fa-linkedin-in(href='#')
      li
        a.fab.fa-instagram(href='#')
      li
        a.fab.fa-google-plus-g(href='#')
    p
      | Copyright &copy; 2016 Snapshot Studio | Design:
      a(href='https://plus.google.com/+templatemo' title='free css templates' target='_blank') Templatemo