doctype html
| PASTE YOUR HTML CODE HERE
head
  title Pug
  script(type='text/javascript').
    if (foo) bar(1 + 5)
h1 Pug - node template engine
#container.col
  p You are amazing
  p Pug is a terse and simple templating language.
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='./style.css')
  title Document
section.gallery
  .gallery__header
    h1.gallery__header__text GALLERY
    p.gallery__header__content
      | Nullam scelerisque, quam nec iaculis vulputate, arcu ligula sollicitudin nisl, ac volutpat erat nulla a arcu.
  .gallery__img
    .img_content.content1
      img.img1(src='./images/gallery-img1.jpg' alt='')
      .over__text.over1
        h1 SAPIEN ARCU
        p Cum sociis natoque penatibus et magnis dis parturient montes.
        a Read More
    .img_content.content2
      img.img2(src='./images/gallery-img2.jpg' alt='')
      .over__text.over2
        h1 SAPIEN ARCU
        p Cum sociis natoque penatibus et magnis dis parturient montes.
        a Read More
    .img_content.content3
      img.img3(src='./images/gallery-img3.jpg' alt='')
      .over__text.over3
        h1 SAPIEN ARCU
        p Cum sociis natoque penatibus et magnis dis parturient montes.
        a Read More
    .img_content.content4
      img.img4(src='./images/gallery-img4.jpg' alt='')
      .over__text.over4
        h1 SAPIEN ARCU
        p Cum sociis natoque penatibus et magnis dis parturient montes.
        a Read More
