header
  .header
    .header__logo
      a.header__logo-text(href='#')
        span
          | Snapshot
    .header__nav
      a.header__nav-item(href='#')
        span.header__text
          | HOME
      a.header__nav-item(href='#')
        span.header__text
          | ABOUT
      a.header__nav-item(href='#')
        span.header__text
          | GALLERY
      a.header__nav-item(href='#')
        span.header__text
          | CONTACT